<%- include('partials/header') %>
  



<div class="jumbotron text-center">
    <div class="container">
      <!-- <i class="fas fa-key fa-6x"></i> -->
      <h1 style="color: red;" class="display-3">Incorrect username or password!</h1>
  
      <hr>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Try Again</a>
    </div>
  </div>

<%- include('partials/footer') %>